<widget id="A6066939626299"  version="0.0.1">
 <!--<widget id="A6075029465820"  version="0.0.1"> -->
    <name>交付帮手</name>
    <description>
        交付帮手
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        江苏酉铭
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="false"/>
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="false"/>	<preference name="softInputMode" value="resize"/>
	<preference name="statusBarAppearance" value="true"/>
<feature name="baiduLocation">
    <param name="android_api_key" value="irTYrMdEy6L3bgTbAqPiHmGxb21WB9wY" />
    <param name="ios_api_key" value="VBk23XsyKKslewndPsZSBBggHGX4R8Sv" />
</feature>
  <preference name="backgroundMode" value="location"/>
	<permission name="readPhoneState" />
	<permission name="camera" />		<permission name="call" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />
</widget>